parameters:
    level: 9
    paths:
        - generator
        - runtime
        - bin
    excludePaths:
        - generator/Lib/Behavior/*/templates/*
    tmpDir: /tmp/phpstan-propulsion

services:
    -
        class: Propulsion\PHPStan\ModelCriteriaMagicMethodsExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension
